/ {
    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 11>;
            bindings = <&kp Z>;
        };
    };
};