#define str(s) #s

#define MOD_MORPH(NAME, KEY, MOD_KEY) \
  mm_##NAME: mm_##NAME { \
    compatible = "zmk,behavior-mod-morph"; \
    label = str(NAME); \
    #binding-cells = <0>; \
    bindings = <&kp KEY>, <&kp MOD_KEY>; \
    mods = <(MOD_LSFT|MOD_RSFT)>; \
    masked_mods = <(MOD_LSFT|MOD_RSFT)>; \
  };

/ {
    behaviors {
      // Parens an Brackets
      MOD_MORPH(brackets, LEFT_BRACKET, RIGHT_BRACKET)
      MOD_MORPH(braces, LEFT_BRACE, RIGHT_BRACE)
      MOD_MORPH(lt_gt, LESS_THAN, GREATER_THAN)
      MOD_MORPH(parens, LEFT_PARENTHESIS, RIGHT_PARENTHESIS)
      MOD_MORPH(slashes, SLASH, BACKSLASH)

      // Symbols
      MOD_MORPH(minus_plus, MINUS, PLUS)
      MOD_MORPH(equals_arrow, EQUAL, EQUAL &kp GREATER_THAN)
    };
};

#undef MOD_MORPH